body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  max-width: 1600px;
  margin: 0;
}

.container {
  min-width: 320px;
  max-width: 1170px;
}

@media (max-width: 767px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
  }
  body {
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__container,
.container {
    max-width: 768px;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .header__container,
.container {
    max-width: 1200px;
    padding: 0 15px;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

*:focus {
  outline: none;
}

.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 21px;
    padding-bottom: 20px;
  }
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 767px) and (max-width: 1199px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03rem;
  text-align: left;
  text-decoration: none;
  color: #2196F3;
}
.logo--dark-color {
  color: #212121;
}
.logo--light-color {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 0.88;
    text-align: center;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 93px;
}
.menu__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02rem;
  text-align: left;
  text-decoration: none;
  margin-right: 46px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #2196F3;
}
.menu__link--active {
  position: relative;
  color: #2196F3;
}
.menu__link--active::after {
  content: "";
  position: absolute;
  width: 53px;
  border-bottom: 4px solid #2196F3;
  border-radius: 2px;
  padding-top: 35px;
  display: block;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .menu {
    padding-left: 83px;
  }
  .menu__link {
    margin-right: 60px;
  }
  .menu__link::after {
    padding-top: 32px;
  }
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__email {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02rem;
  text-align: left;
  text-decoration: none;
  margin-left: 300px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__email:hover, .contact__email:focus {
  color: #2196F3;
}
.contact__phone {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02rem;
  text-align: left;
  text-decoration: none;
  margin-left: 40px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__phone:hover, .contact__phone:focus {
  color: #2196F3;
}
.contact__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__email:hover .contact__icon, .contact__phone:hover .contact__icon, .contact__email:focus .contact__icon, .contact__phone:focus .contact__icon {
  fill: #2196F3;
}

@media (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__email,
.contact__phone {
    font-size: get-size "label";
    line-height: 1.17;
  }
  .contact__email {
    margin-left: 8px;
  }
  .contact__phone {
    margin-left: 8px;
  }
}
@media (min-width: 1200px) {
  .contact__email {
    margin-left: 300px;
  }
}
.page-main {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/new-photo.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/new-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
}
.page-main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-main__heading {
  color: #FFFFFF;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.06rem;
  width: 696px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
}

@media (max-width: 767px) {
  .page-main__heading {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    margin: 0;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    -webkit-transform: translateY(-14%);
            transform: translateY(-14%);
  }
}
@media (max-width: 767px) {
  .page-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile1x-img.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile1x-img.jpg");
    background-repeat: no-repeat;
    width: 480px;
    height: 400px;
  }
  .page-main__heading {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    -webkit-transform: translateY(140%);
            transform: translateY(140%);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .page-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile-img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-img@2x.jpg");
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .page-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet-imgx1.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-imgx1.jpg");
    background-repeat: no-repeat;
    width: 768px;
    height: 400px;
  }
  .page-main__heading {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    -webkit-transform: translateY(140%);
            transform: translateY(140%);
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .page-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet-img@2.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-img@2.jpg");
  }
}
@media (min-width: 1200px) {
  .page-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desktop-x1.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop-x1.jpg");
    background-repeat: no-repeat;
  }
  .page-main__heading {
    font-weight: 900;
    -webkit-transform: translateX(27%);
            transform: translateX(27%);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .page-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desktop-@2.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop-@2.jpg");
  }
}
.button {
  background-color: #2196F3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 10px 41px 10px 42px;
  -webkit-transform: translateY(700%);
          transform: translateY(700%);
  margin-left: 400px;
  position: absolute;
  -webkit-transition-property: border, -webkit-transform;
  transition-property: border, -webkit-transform;
  transition-property: border, transform;
  transition-property: border, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  border: 1px solid #2196F3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.button__footer {
  background-color: #2196F3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 200px;
  padding: 10px 24px 10px 42px;
  outline: none;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__footer:hover, .button__footer:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.button__icon-send {
  position: absolute;
  margin-left: 24px;
  width: 24px;
  height: 24px;
}
.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  cursor: pointer;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover, .button-close:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background-color: #F5F4FA;
}
.button-send {
  background-color: #2196F3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  border-radius: none;
  padding: 10px 76px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-transform: translateX(65%);
          transform: translateX(65%);
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:hover, .button-send:focus {
  border-radius: 4px;
  font-size: 17px;
}

@media (max-width: 767px) {
  .button {
    -webkit-transform: translateY(460%);
            transform: translateY(460%);
    position: absolute;
    margin: 0;
  }
  .button__footer {
    margin-top: 20px;
  }
  .button-send {
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
  .button-send:hover, .button-send:focus {
    background-color: #188CE8;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .button {
    -webkit-transform: translateY(460%);
            transform: translateY(460%);
    margin: 0;
  }
  .button__footer {
    margin-top: 20px;
    margin-left: 190px;
  }
  .button-send {
    -webkit-transform: translateX(45%);
            transform: translateX(45%);
  }
  .button-send:hover, .button-send:focus {
    background-color: #188CE8;
  }
  .button-close:hover,
.button-close:focus {
    background-color: #FFFFFF;
    fill: #2196F3;
  }
}
.lorem {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  padding-top: 94px;
}
.lorem__item {
  padding-top: 10px;
}
.lorem__icon {
  background-color: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  padding-left: 100px;
  padding-top: 30px;
}
.lorem__heading {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03rem;
  text-align: left;
  list-style-type: none;
  padding-top: 30px;
}
.lorem__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .lorem {
    padding-top: 30px;
    display: block;
    padding-bottom: 60px;
  }
  .lorem__item {
    width: 450px;
  }
  .lorem__heading {
    text-align: center;
  }
  .lorem__icon {
    width: 450px;
    padding: 25px 190px;
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .lorem {
    padding-top: 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 45px;
  }
  .lorem__item {
    width: 354px;
  }
  .lorem__icon {
    padding-right: 220px;
    padding-left: 140px;
  }
}
.what-do__heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03rem;
  text-align: center;
  padding-top: 94px;
}
.what-do__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.what-do__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.what-do__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 370px;
  padding: 27px 90px;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
}

@media (max-width: 1199px) {
  .what-do {
    display: none;
  }
}
@media (min-width: 1200px) {
  .what-do__heading {
    padding-left: 20px;
  }
}
.our-team {
  background-color: #F5F4FA;
  padding-bottom: 94px;
}
.our-team__heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03rem;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our-team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__description {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03rem;
  text-align: center;
  padding: 30px 0 10px 0;
}
.our-team__job {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03rem;
  text-align: center;
  color: #757575;
  padding-bottom: 16px;
}

@media (max-width: 767px) {
  .our-team__heading {
    font-size: 28px;
    line-height: 1.17;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-team__job {
    padding-bottom: 16px;
  }
  .our-team__img {
    width: 450px;
    height: 460px;
  }
  .our-team {
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .our-team__heading {
    padding-top: 60px;
    font-size: 28px;
    line-height: 1.17;
    padding-bottom: 30px;
  }
  .our-team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .our-team__item {
    width: 354px;
  }
  .our-team__job {
    padding-bottom: 16px;
  }
  .our-team {
    padding-bottom: 60px;
  }
}
.social-media {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
.social-media__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  fill: #AFB1B8;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__icon:hover, .social-media__icon:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

@media (max-width: 767px) {
  .social-media {
    padding-bottom: 24px;
  }
}
.clients__heading {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03rem;
  line-height: 1.17;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.clients__logo-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}
.clients__icon-logo {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon-logo, .clients__link:focus .clients__icon-logo {
  fill: #2196F3;
  border-color: #2196F3;
}

@media (max-width: 767px) {
  .clients__heading {
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 28px;
  }
  .clients__logo-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 70/2;
        flex-basis: 70/2;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .clients__heading {
    padding-top: 60px;
    font-size: 28px;
    padding-bottom: 30px;
  }
  .clients__logo-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 60px;
  }
}
.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
  font-style: normal;
  list-style-type: none;
  padding: 20px 0 9px 0;
}
.footer__contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
  font-style: normal;
  list-style-type: none;
}
.footer__email, .footer__phone {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__email:hover, .footer__email:focus, .footer__phone:hover, .footer__phone:focus {
  color: #2196F3;
}
.footer__phone {
  margin-top: 9px;
  display: block;
}
.footer__social-links {
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.14;
  padding-left: 60px;
  padding-top: 7px;
}
.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 20px;
}
.footer__item {
  list-style-type: none;
}
.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon:hover, .footer__icon:focus {
  background-color: #2196F3;
}

@media (max-width: 767px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__address,
.footer__contact {
    text-align: center;
  }
  .footer__phone {
    padding-bottom: 60px;
  }
  .footer__social-links {
    text-align: center;
    padding-left: 0;
    padding-right: 119px;
  }
  .footer__social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__address,
.footer__contact {
    text-align: center;
  }
  .footer__address {
    padding-left: 61px;
  }
  .footer__email,
.footer__phone {
    padding-left: 40px;
  }
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__social-links {
    padding-left: 150px;
  }
  .footer .logo {
    padding-left: 100px;
  }
}
.newsletter {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 9px;
  padding-left: 78px;
  padding-bottom: 20px;
}
.newsletter__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 78px;
  margin-right: 12px;
  width: 358px;
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__input:focus-within {
  border: 1px solid #2196F3;
}

@media (max-width: 767px) {
  .newsletter {
    padding-left: 0;
    text-align: center;
  }
  .newsletter__input {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .newsletter {
    padding-top: 60px;
    padding-left: 263px;
  }
  .newsletter__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 70px;
  }
  .newsletter__input {
    width: 450px;
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 767px) {
  .backdrop {
    width: 480px;
    height: 796px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .backdrop {
    width: 768px;
    height: 1024px;
  }
}
.modal {
  position: absolute;
  max-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .modal {
    width: 450px;
    height: 609px;
    left: 50%;
    top: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
    left: 50%;
    top: 50%;
  }
}
.form__heading {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  width: 100%;
  padding-bottom: 12px;
}
.form__label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
}
.form__input {
  margin-top: 4px;
  padding: 12px 0 12px 42px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus-within {
  border: 1px solid #2196F3;
  border-radius: 4px;
  outline: none;
}
.form__icon {
  position: absolute;
  top: 40%;
  left: 15px;
}
.form__text {
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  height: 120px;
  margin-top: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__text:focus-within {
  border: 1px solid #2196F3;
  border-radius: 4px;
  outline: none;
}
.form__input:focus ~ .form__icon {
  fill: #2196F3;
}
.form__statement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-left: 8px;
}
.form__checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}
.form__icon-rectangle {
  fill: none;
  border-radius: 2px;
  border: 2px solid #212121;
}
.form__icon-vector {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  border: none;
}
.form__checkbox:checked ~ .form__icon-rectangle {
  border-radius: 2px;
  border: 2px solid #2196F3;
  background-color: #2196F3;
}
.form__statute {
  color: #2196F3;
}
.form__privacy {
  color: #2196F3;
}

@media (max-width: 767px) {
  .form__heading {
    line-height: 1.5;
  }
  .form__statement {
    font-size: 12px;
    line-height: 1.17;
    padding-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .form__statement {
    font-size: 12px;
    line-height: 1.17;
    padding-left: 0;
  }
}
.portfolio__buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  gap: 8px;
  padding-top: 94px;
}
.portfolio__button {
  background-color: #F5F4FA;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
  padding-top: 50px;
  padding-bottom: 94px;
}
.portfolio__card {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover, .portfolio__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay-view {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  padding-top: 49px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}
.portfolio__overlay-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  width: 301px;
}
.portfolio__card:hover .portfolio__overlay-view, .portfolio__card:focus .portfolio__overlay-view {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.portfolio__description {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 20px 24px;
}
.portfolio__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06rem;
  text-align: left;
}
.portfolio__paragraph {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03rem;
  text-align: left;
  color: #757575;
}

@media (max-width: 767px) {
  .portfolio__buttons-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 60px;
  }
  .portfolio__button {
    padding: 6px 25px;
  }
  .portfolio__cards-list {
    padding-top: 40px;
  }
  .portfolio__overlay-view {
    padding-top: 77px;
    padding-left: 24px;
  }
  .portfolio__overlay-text {
    width: 402px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio__buttons-list {
    padding-top: 66px;
  }
  .portfolio__cards-list {
    padding-top: 36px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio__card {
    width: 354px;
  }
}
@media (max-width: 767px) {
  .menu-toggle {
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    padding-left: 284px;
  }
  .menu-toggle__icon {
    width: 24px;
    height: 16px;
    margin: 8px;
    cursor: pointer;
    fill: #212121;
  }
  .menu-toggle__icon:hover, .menu-toggle__icon:focus {
    fill: #2196F3;
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 480px;
    min-height: 796px;
    z-index: 999;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding: 48px 0 48px 40px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: block;
  }
  .mobile-menu {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    list-style-type: none;
    color: #212121;
    text-decoration: none;
    gap: 36px;
  }
  .mobile-menu__item:not(:last-child) {
    padding-bottom: 36px;
  }
  .mobile-menu__link {
    color: #212121;
    text-decoration: none;
  }
  .mobile-menu__link--active {
    color: #2196F3;
  }
  .mobile-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 302px;
  }
  .mobile-links__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
  }
  .mobile-links__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    padding-top: 32px;
  }
  .mobile-socials {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 64px;
  }
  .mobile-socials__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    padding-right: 10px;
    text-decoration: none;
  }
  .mobile-socials__link:not(:first-child) {
    padding-left: 10px;
  }
  .mobile-socials__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-socials__item:not(:first-child) {
    padding-left: 10px;
  }
  .menu-toggle-close {
    position: absolute;
    top: 21px;
    right: 21px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .menu-toggle-close:hover, .menu-toggle-close:focus {
    fill: #2196F3;
  }
}
@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
  .menu-toggle {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */