.button {
    @include button;
    text-align: center;
    padding: 10px 41px 10px 42px;
    margin-top:350px;
    margin-bottom: 200px;
    position: absolute;
    transition-property: border, transform;
    @include transition;
    &:hover,
    &:focus {
        border: 1px solid $blue-color;
        transform: scale(1.05);
    }
    &__footer {
        @include button;
        text-align: left;
        width: 200px;
        padding: 10px 24px 10px 42px;
        outline: none;
        transition-property: transform;
        @include transition;
        &:hover,
        &:focus {
            transform: scale(1.10);
        }
    }
    &__icon-send {
        position: absolute;
        margin-left: 24px;
        width: 24px;
        height: 24px;
    }
    &-close {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 8px;
        right: 8px;
        background-color: $white-color;
        border-radius: 50%;
        border: 1px solid $dark-six;
        @include flex;
        padding: 8px;
        cursor: pointer;
        transition-property: transform;
        @include transition;
        &:hover,
        &:focus {
            transform: scale(1.25);
            background-color: $light-gray-color;
        }
    }
    &-send {
        @include button;
        border-radius: none;
        padding: 10px 76px;
        text-align: center;
        align-items: center;
        margin-top: 30px;
        transform: translateX(65%);
        transition-property: border;
        @include transition;
        &:hover,
        &:focus {
            border-radius: 4px;
            font-size: get-size('send');
        }
    }
}
@media (max-width: 767px) {
    .button {
        margin-top: 0;
        margin-bottom: 0;
        transform: translateY(460%);
        position: absolute;
    }
    .button__footer {
        margin-top: 20px;
    }
    .button-send {
        background-color: $blue-two;
        transform: translateX(45%);
    }
}
@media (min-width: 768px) and (max-width:1200px) {
    .button {
        margin-top: 0;
        margin-bottom: 0;
        transform: translateY(460%);
    }
    .button__footer {
        margin-top: 20px;
    }
}