.form {
    &__heading {
        font-size: get-size('form');
        font-weight: 700;
        line-height: 1.15;
        letter-spacing: 0.03em;
        text-align: center;
        width: 100%;
        padding-bottom: 12px; 
    } 
    &__label {
        position: relative;
        font-size: get-size('label');
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: $gray-color;
        margin-top: 10px;
    }
    &__input {
        margin-top: 4px;
        padding: 12px 0 12px 42px;
        margin-bottom: 10px;
        @include input-text;
        transition-property: border;
        @include transition;
        &:focus-within {
            border: 1px solid $blue-color;
            border-radius: 4px;
            outline: none;
        }
    }
    &__icon {
        position: absolute;
        top: 40%;
        left: 15px;
    }
    &__text {
        padding: 12px 16px;
        color: $trans-four;
        font-size: get-size('label');
        line-height: 1.16;
        letter-spacing: 0.01em;
        height: 120px;
        margin-top: 4px;
        @include input-text;
        transition: border;
        @include transition;
        &:focus-within {
            border: 1px solid $blue-color;
            border-radius: 4px;
            outline: none;
        }
    }
    &__input:focus ~ &__icon {
        fill: $blue-color;
    }
    &__statement {
        font-size: get-size('body');
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $gray-color;
        @include flex;
        padding-top: 20px;
        padding-left: 8px;
    }
    &__checkbox {
        width: 0;
        height: 0;
        opacity: 0;
    }
    &__icon-rectangle {
        fill: none;
        border-radius: 2px;
        border: 2px solid $black-color;
    }
    &__icon-vector {
        transform: translateX(-120%);
        border: none;
    }
    &__checkbox:checked ~ &__icon-rectangle {
        border-radius: 2px;
        border: 2px solid $blue-color;
        background-color: $blue-color;
    }
    &__statute {
        color: $blue-color;
    }
    &__privacy {
        color: $blue-color;
    }
}
@media (max-width: 767px) {
    .form__heading {
        line-height: 1.5;
    }
    .form__statement {
        font-size: get-size('mobile-statement');
        line-height: 1.17;
        padding-left: 0;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .form__statement {
        font-size: get-size('mobile-statement');
        line-height: 1.17;
        padding-left: 0;
    }
}