.logo {
    font-family: 'Raleway';
    font-size: get-size('logo');
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03rem;
    text-align: left;
    text-decoration: none;
    color: $blue-color;
    &--dark-color {
        color: $black-color;
    }
    &--light-color {
    color: $white-color;
    }
}
@media (max-width: 767px) {
    .logo {
    font-size: get-size('mobile-logo');
    line-height: 1.17;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .logo {
        font-size: get-size('mobile-logo');
        line-height: 0.88;
        text-align: center;
    }
}