.lorem {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 94px;
    &__item {
        padding-top: 10px;
    }
    &__icon {
        background-color: $light-gray-color;
        border-radius: 4px;
        width: 270px;
        height: 120px;
        padding-left: 100px;
        padding-top: 30px;
    }
    &__heading {
        font-size: get-size('body');
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03rem;
        text-align: left;
        list-style-type: none;
        padding-top: 30px;
    }
    &__text {
        font-size: get-size('body');
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-align: left;
        color: $gray-color;
        padding-top: 10px;
    }
}
@media (max-width: 767px) {
    .lorem {
        padding-top: 30px;
        display: block;
        padding-bottom: 60px;
    }
    .lorem__item {
        width: 450px;
    }
    .lorem__heading {
        text-align: center;
    }
    .lorem__icon {
        width: 450px;
        padding: 25px 190px;
        margin-top: 30px;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .lorem {
        padding-top: 60px;
        flex-wrap: wrap;
        padding-bottom: 45px;
    }
    .lorem__item {
        width: 354px;
    }
    .lorem__icon {
        padding-right: 220px; 
        padding-left: 140px;
    }
}