@media (max-width: 767px) {
    .menu-toggle {
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        padding-left: 284px;
        &__icon {
            width: 24px;
            height: 16px;
            margin: 8px;
            cursor: pointer;
            fill: $black-color;
            &:hover,
            &:focus {
                fill: $blue-color;
            }
        }
    }
    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 480px;
        min-height: 796px;
        z-index: 999;
        background-color: $white-color;
        box-shadow: 0px 4px 8px $dark-eleven, 0px 2px 4px $dark-ten, 0px 1px 3px $dark-eight;
        padding: 48px 0 48px 40px;
        transform: translateX(-100%);
        transition: transform 250ms ease-in-out;
    }
    .menu-container.is-open {
        transform: translateX(0);
        display: block;
    }
    .mobile-menu {
        font-size: get-size('mobile');
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.02em;
        list-style-type: none;
        color: $black-color;
        text-decoration: none;
        gap: 36px;
        &__item:not(:last-child) {
            padding-bottom: 36px;
        }
        &__link {
            color: $black-color;
            text-decoration: none;
            &--active {
                color: $blue-color;
            }
        }
    }
    .mobile-links {
        display: flex;
        flex-direction: column;
        padding-top: 302px;
        &__phone {
            font-weight: 500;
            font-size: get-size('mobile-phone');
            line-height: 1.17;
            letter-spacing: 0.02em;
            color: $blue-color;
            text-decoration: none;
        }
        &__email {
            font-weight: 500;
            font-size: get-size('mobile-email');
            line-height: 1.17;
            letter-spacing: 0.02em;
            color: $gray-color;
            text-decoration: none;
            padding-top: 32px;
        }
    }
    .mobile-socials {
        list-style-type: none;
        display: flex;
        padding-top: 64px;
        &__link {
            font-weight: 500;
            font-size: get-size('mobile-social');
            line-height: 1.22;
            letter-spacing: 0.02em;
            color: $blue-color;
            padding-right: 10px;
            text-decoration: none;
        }
        &__link:not(:first-child) {
            padding-left: 10px;
        }
        &__item:not(:last-child) {
            border-right: 1px solid $dark-five;
        }
        &__item:not(:first-child) {
            padding-left: 10px;
        }
    }
    .menu-toggle-close {
        position: absolute;
        top: 21px;
        right: 21px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:hover,
        &:focus {
            fill: $blue-color;
        }
    }
}
@media (min-width: 768px) {
    .menu-container {
        display: none;
    }
    .menu-toggle {
        display: none;
    }
}