.page-main {
    background-color: $dark-gray-color;
    background-image: linear-gradient($gradient-one, $gradient-one), url("../images/new-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    &__title {
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        height: 400px;
    }
    &__heading {
        color: $white-color;
        font-size: get-size('heading');
        font-weight: 700;
        line-height: 1.36;
        letter-spacing: 0.06rem;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .page-main__heading {
        font-weight: 900;
        font-size: get-size('mobile-heading');
        line-height: 1.61;
        display: block;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .page-main {
        background-image: linear-gradient($gradient-one, $gradient-one), url("../images/mobile1x-img.jpg");
        background-repeat: no-repeat;
        width: 480px;
        height: 400px;
    }
    .page-main__heading {
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
    }
}
@media screen and (min-device-pixel-ratio:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .page-main {
            background-image: linear-gradient($gradient-one, $gradient-one), url("../images/mobile-img@2x.jpg");
        }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .page-main {
        background-image: linear-gradient($gradient-one, $gradient-one), url("../images/tablet-imgx1.jpg");
        background-repeat: no-repeat;
        width: 768px;
        height: 400px;
    }
    .page-main__heading {
        font-size: get-size('tablet-heading');
        font-weight: 900;
        line-height: 1.61;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media screen and (min-device-pixel-ratio:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .page-main {
            background-image: linear-gradient($gradient-one, $gradient-one), url("../images/tablet-img@2.jpg");
        }
}
@media (min-width: 1200px) {
    .page-main {
        background-image: linear-gradient($gradient-one, $gradient-one), url("../images/desktop-x1.jpg");
        background-repeat: no-repeat;
    }
    .page-main__heading {
        font-weight: 900;
    }
    .page-main__title {
        height: 600px;
    }
}
@media screen and (min-device-pixel-ratio:2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .page-main {
            background-image: linear-gradient($gradient-one, $gradient-one), url("../images/desktop-@2.jpg");
        }
}