body {
    font-family: $fonts-family;
    color: $black-color;
    width: 1600px;
    margin: 0 auto;
}
.container {
    min-width: 320px;
    max-width: 1170px;
}
@media (max-width: 767px) {
    .container {
        max-width: 450px;
        padding: 0 15px;
    }
    body {
        width: 100vw;
    }
}
@media (min-width: 768px) and (max-width:1200px) {
    .container {
        max-width: 738px;
        padding: 0 15px;
    }
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
*:focus {
    outline: none;
}